@font-face{
    font-family:"Web-Raleway";
    src:url('../fonts/Raleway-Regular.eot');
    src:url('../fonts/Raleway-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/Raleway-Regular.woff') format("woff"),
    url('../fonts/Raleway-Regular.ttf') format("truetype"),
    url('../fonts/Raleway-Regular.svg#web') format("svg");
    font-style:normal;font-weight:normal;
}

@font-face{
    font-family:"Web-Raleway-Bold";
    src:url('../fonts/__Raleway-Bold.eot');
    src:url('../fonts/__Raleway-Bold.eot?#iefix') format("embedded-opentype"),
    url('../fonts/__Raleway-Bold.woff') format("woff"),
    url('../fonts/__Raleway-Bold.ttf') format("truetype"),
    url('../fonts/Raleway-Bold.svg#web') format("svg");
    font-style:normal;font-weight:normal;
}

/* default config */
body{
    margin : 0;
    font-family: "Havetica Neue", Halvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373737;
}

.clear{
    float: none;
    clear: both;
}

.center{
    width: 961px;
    margin: 0 auto;
}

a{
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* header config */

#header{
    padding: 35px 0;
}

#header #logo{
    float: left;
}

#header .navigation{
    float: right;
}

#header .navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header .navigation ul li{
    display: inline-block;
    font-size: 18px;
    font-family: "Web-Raleway";
    font-weight: bold;
}

#header .navigation ul li a{
    display: inline-block;
    padding: 20px 25px;
    text-transform: uppercase;
    color: #373737;
    text-decoration: none;
}

#header .navigation ul li a:hover{
    color: #0b63cc;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* banner config */

#banner{
    background: url("../images/banner_bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 115px;
    color: #FFFFFF;
    text-align: center;
}

#banner h1{
    font-size: 44px;
    font-family: "Web-Raleway-Bold";
    text-transform: uppercase;
    font-weight: normal;
}

#banner h2{
    font-size: 26px;
    font-family: "Web-Raleway";
    font-weight: normal;
    margin-bottom: 28px;
}

.btn-primary{
    border: solid 2px #FFFFFF;
    color: #FFF;
    text-transform: uppercase;
    font-family: "Web-Raleway";
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.btn-primary:hover,
.content-list .list-service .button a:hover
{

    background: #FFFFFF;
    color: #0b64cd;

}

/* our services config */

#our-services{
    padding: 25px 0;
    font-family: "Web-Raleway";
}

#our-services .title-content{
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

#our-services .title-content span{
    font-family: "Web-Raleway-Bold";
}

.content-list .list-service{
    background: #0a63d2;
    padding: 18px;
    float: left;
    width: 45%;
    color: #FFFFFF;
}

.content-list .list-service.last{
    float: right;
}

.content-list .list-service h2{
    text-transform: uppercase;
    font-family: "Web-Raleway-Bold";
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 0;
}

.content-list .list-service .text{
    line-height: 25px;
    margin-bottom: 20px;
}

.content-list .list-service .button a{
    display: inline-block;
    padding: 15px;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Web-Raleway";
}

/*notification subscribe config*/

#notification-subscribe{
    background: #d7d7d7;
    padding: 25px 0;
    margin-top: 30px;
}

#notification-subscribe h2{
    font-family: "Web-Raleway-Bold";
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
}

#notification-subscribe h3{
    margin-top: 0;
    font-size: 24px;
    font-family: "Web-Raleway";
    font-weight: normal;
}

#notification-subscribe .left-content{
    float: left;
}

#notification-subscribe .right-content{
    float: right;
    padding-top: 35px;
}

#notification-subscribe .large-btn{
    display: inline-block;
    background: #0a63d2;
    font-family: "Web-Raleway-Bold";
    font-size: 24px;
    padding: 18px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
#notification-subscribe .large-btn:hover{
    background: #373737;
}

/*footer config*/

#footer{
    background: #373737;
    padding: 40px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}



/*responsive*/

@media screen and (max-width: 1095px) {
    .center{
        width: auto;
        padding: 0 20px;
        margin: 0;
    }
}

@media screen and (max-width: 826px) {

    #notification-subscribe .left-content
    #notification-subscribe .right-content{
        float: none;
        text-align: center;
    }
    #notification-subscribe .right-content{
        padding-top: 10px;
    }
    .content-list .list-service,
    .content-list .list-service.last{
        width: auto;
        display: block;
        float: none;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 741px) {
    #header .navigation,
    #header #logo{
        float: none;
        width: auto;
        margin: 0 auto;
    }
    #header #logo{
        margin-bottom: 10px;
    }
    #header #logo img{
        margin: 0 auto;
        display: table;
    }
    #header .navigation ul{
        display: table;
        margin: 0 auto;
    }
    #banner h1{
        font-size: 30px;
    }

}